<!DOCTYPE html>
<html lang="id">
  <partial src="head_5.html" title="PPSMB UGM 2019"></partial>
<body>
  <partial src="navbar_2.html"></partial>
  <partial src="breadcrumb_3.html" section="@@section" hari="@@hari"></partial>
  <partial src="tittle_agenda_fakultas.html" count="@@count" fakultas="@@fakultas" date="@@date"></partial>
  <div class="container">
    <partial src="embed_document.html" link="https://docs.google.com/file/d/1gtINFcfxp7wJrU-NKHlJT0K4aqvt_n_a/preview"></partial>
  </div>
  <partial src="footer.html"></partial>
  <partial src="library_5.html"></partial>
</body>
</html>