.blacked{
  width: 100%;
  height: auto;
  padding: 60px 0;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.img-tentang{
  max-width: 100%; 
  height: auto; 
  padding: 64px;
}

@media (max-width: 768px) {
  .img-tentang{
    padding: 32px;
  }
}

.white{
  color: white;
}

#slider{
  padding: 60px 0;
}

#rektor{
  padding: 60px 0;
}

#video{
  padding: 60px 0;
}

#tasks{
  padding: 60px 0;
}

#faq{
  padding-bottom: 60px;
}