.img-palapa{
  max-width: 450px;
  height: auto;
}

#slider{
  padding: 60px 0;
}

#rektor{
  padding: 60px 0;
}

#videos{
  padding: 60px 0;
}

#tasks{
  padding: 60px 0;
}

#faq{
  padding-bottom: 60px;
}