@import "responsive";
html,
body {
    background: linear-gradient(to bottom, rgba(231, 126, 97, 1), rgba(237, 164, 96, 1));
    background: -webkit-linear-gradient(to bottom, rgba(231, 126, 97, 1), rgba(237, 164, 96, 1));
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

#peta-ugm {
    font-family: 'Montserrat', sans-serif;
    padding-top: 100px;
    padding-bottom: 50px;
}

.title {
    color: floralwhite;
    font-size: 40px;
    font-variant-numeric: 700;
    letter-spacing: 30px;
    word-spacing: 50%;
    margin-bottom: 50px;
    @include mobile {
        letter-spacing: 5px;
    }
}

#sepeda-kampus,
#kantong-parkir,
#skkk,#gmc
#sekre {
    cursor: pointer;
}

#sepeda-kampus img {
    width: 10%;
}

#kantong-parkir img {
    width: 10%;
}

#skkk img {
    width: 10%;
}

#gmc img{
    width: 10%;
}

#sekre img {
    width: 10%;
}

#tes {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    position: relative;
}

#tes>img {
    position: absolute;
    z-index: 1000;
}

img.kantong-parkir {
    display: none;
}

img.sepeda-kampus {
    display: none;
}

img.skkk {
    display: none;
}

img.gmc {
    display: none;
}
img.sekre {
    display: none;
}

#bg {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    position: relative;
}


/* Popover */

.popover {
    border: none;
    padding: 0px;
    width: 200px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    @include mobile {
        width: 180px;
    }
    .close {
        margin-top: 1%;
        margin-right: 4px;
    }
    .popover-title {
        background-color: #e16160;
        color: white;
    }
    .popover-content {
        img {
            height: 100px;
            width: 100% !important;
            padding: 0 0 10px;
        }
        @include mobile {
            height: 150px;
            overflow-y: scroll;
        }
    }
}


/* Popover End */

.markers {
    position: absolute;
}


/* Sektor A */

#sektor-a {
    .marker1 {
        top: 10%;
        left: 9.8%;
        img {
            width: 34%;
            cursor: pointer;
            @include mobile {
                width: 25%;
            }
            @include mobile-landscape {
                width: 25%;
            }
            @include tablet {
                width: 28%;
            }
        }
    }
    .marker1a {
        top: 9.4%;
        left: 33%;
        @include mobile {
            top: 8%;
        }
        @include mobile-landscape {
            top: 8.8%;
        }
        @include tablet {
            top: 8%;
        }
        img {
            width: 34%;
            cursor: pointer;
            @include mobile {
                width: 12%;
            }
            @include mobile-landscape {
                width: 20%;
            }
            @include tablet {
                width: 34%;
            }
        }
    }
    .marker2 {
        top: 22%;
        left: 9%;
        img {
            width: 35%;
            cursor: pointer;
            @include mobile {
                width: 17%;
            }
            @include mobile-landscape {
                width: 19%;
            }
            @include tablet {
                width: 29%;
            }
        }
    }
    .marker3 {
        top: 21%;
        left: 30%;
        img {
            width: 35%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 9%;
            }
            @include mobile-landscape {
                width: 18%;
            }
            @include tablet {
                width: 27%;
            }
        }
    }
    .marker4 {
        top: 22.8%;
        left: 35%;
        img {
            width: 35%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 11%;
            }
            @include mobile-landscape {
                width: 20%;
            }
            @include tablet {
                width: 29%;
            }
        }
    }
    .marker5 {
        top: 30%;
        left: 30.7%;
        img {
            width: 35%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 14%;
            }
            @include mobile-landscape {
                width: 19%;
            }
            @include tablet {
                width: 28%;
            }
        }
    }
}


/* Sektor A End */


/* Sektor B */

#sektor-b {
    .marker1 {
        top: 29%;
        left: 43.7%;
        img {
            width: 35%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 13%;
            }
            @include mobile-landscape {
                width: 20%;
            }
            @include tablet {
                width: 28%;
            }
        }
    }
    .marker2 {
        top: 28%;
        left: 53.3%;
        img {
            width: 35%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 11%;
            }
            @include mobile-landscape {
                width: 19%;
            }
            @include tablet {
                width: 28%;
            }
        }
    }
    .marker3 {
        top: 21%;
        left: 50%;
        img {
            width: 35%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 15%;
            }
            @include mobile-landscape {
                width: 19%;
            }
            @include tablet {
                width: 28%;
            }
        }
    }
    .marker4 {
        top: 21%;
        left: 57.5%;
        img {
            width: 35%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 16%;
            }
            @include mobile-landscape {
                width: 19%;
            }
            @include tablet {
                width: 27%;
            }
        }
    }
}


/* Sektor B End */


/* Sektor C */

#sektor-c {
    .marker1 {
        top: 18.5%;
        left: 67%;
        img {
            width: 32%;
            cursor: pointer;
        }
    }
    .marker2 {
        top: 19%;
        left: 78%;
        img {
            width: 40%;
            cursor: pointer;
        }
    }
}


/* Sektor C End */


/* Sektor D End */

#sektor-d {
    .marker1 {
        top: 43%;
        left: 17.4%;
        img {
            width: 10%;
            cursor: pointer;
        }
    }
    .marker2 {
        top: 38%;
        left: 24.1%;
        //mobile
        @include mobile {
            top: 39%;
            left: 24%;
        }
        img {
            width: 35%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 17%;
            }
            @include mobile-landscape {
                width: 20%;
            }
            @include tablet {
                width: 29%;
            }
        }
    }
    .marker3 {
        top: 38.2%;
        left: 37.5%;
        //mobile
        @include mobile {
            top: 39.2%;
        }
        img {
            width: 35%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 12%;
            }
            @include mobile-landscape {
                width: 20%;
            }
        }
    }
    .marker4 {
        top: 53%;
        left: 26.7%;
        img {
            width: 35%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 12%;
            }
            @include mobile-landscape {
                width: 20%;
            }
            @include tablet {
                width: 29%;
            }
        }
    }
    .marker5 {
        top: 47.5%;
        left: 37.7%;
        //mobile
        @include mobile {
            top: 46.5%;
            left: 37.2%;
        }
        img {
            width: 35%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 12%;
            }
            @include mobile-landscape {
                width: 21%;
            }
            @include tablet {
                width: 30%;
            }
        }
    }
    .marker6 {
        top: 52%;
        left: 38%;
        //mobile
        @include mobile {
            top: 50.2%;
            left: 38%;
        }
        img {
            width: 4%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 4%;
            }
            @include mobile-landscape {
                width: 4%;
            }
            @include tablet {
                width: 4%;
            }
        }
    }
}


/* Sektor D End */


/* Sektor E */

#sektor-e {
    .marker1 {
        top: 36.8%;
        left: 46.6%;
        //mobile
        @include mobile {
            top: 35.5%;
            left: 46.5%;
        }
        img {
            width: 35%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 11%;
            }
            @include mobile-landscape {
                width: 20%;
            }
            @include tablet {
                width: 29%;
            }
        }
    }
    .marker2 {
        top: 43%;
        left: 45.2%;
        //mobile
        @include mobile {
            top: 41%;
            left: 45.2%;
        }
        img {
            width: 13%;
            cursor: pointer;
        }
    }
    .marker3 {
        top: 37.3%;
        left: 53%;
        //mobile
        @include mobile {
            top: 37%;
            left: 53%;
        }
        img {
            width: 35%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 9%;
            }
            @include mobile-landscape {
                width: 16%;
            }
            @include tablet {
                width: 23%;
            }
        }
    }
    .marker4 {
        top: 39%;
        left: 57.5%;
        @include mobile {
            top: 38%;
        }
        img {
            width: 39%;
            cursor: pointer;
            @include mobile {
                width: 13%;
            }
            @include mobile-landscape {
                width: 20%;
            }
            @include tablet {
                width: 31%;
            }
        }
    }
    .marker5 {
        top: 47%;
        left: 54%;
        @include mobile {
            top: 45%;
        }
        img {
            width: 35%;
            cursor: pointer;
            @include mobile {
                width: 12%;
            }
            @include mobile-landscape {
                width: 18%;
            }
            @include tablet {
                width: 27%;
            }
        }
    }
    .marker6 {
        top: 44.5%;
        left: 58%;
        @include mobile {
            top: 43%;
        }
        img {
            width: 35%;
            cursor: pointer;
            @include mobile {
                width: 11%;
            }
            @include mobile-landscape {
                width: 19%;
            }
            @include tablet {
                width: 29%;
            }
        }
    }
    .marker7 {
        top: 53%;
        left: 57.2%;
        @include mobile {
            top: 52%;
        }
        img {
            width: 13%;
            cursor: pointer;
        }
    }
    .marker8 {
        top: 55%;
        left: 53.7%;
        @include mobile {
            top: 54%;
        }
        img {
            width: 9%;
            cursor: pointer;
        }
    }
    .marker9 {
        top: 59.2%;
        left: 42.8%;
        @include mobile {
            top: 58.2%;
        }
        img {
            @include mobile {
                width: 10%;
            }
            @include mobile-landscape {
                width: 18%;
            }
            width: 32%;
            cursor: pointer;
        }
    }
    .marker10 {
        top: 60%;
        left: 50.3%;
        @include mobile {
            top: 58%;
        }
        img {
            width: 6%;
            cursor: pointer;
            @include mobile {
                width: 5%;
            }
        }
    }
}


/* Sektor E End */


/* Sektor F */

#sektor-f {
    .marker1 {
        top: 27.5%;
        left: 63.6%;
        //mobile
        @include mobile {
            top: 27.5%;
        }
        img {
            width: 64%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 64%;
            }
        }
    }
    .marker2a {
        top: 28%;
        left: 73.6%;
        //mobile
        @include mobile {
            top: 27.5%;
        }
        img {
            width: 44%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 44%;
            }
        }
    }
    .marker2 {
        top: 47%;
        left: 64%;
        @include mobile {
            top: 45%;
        }
        img {
            width: 30%;
            cursor: pointer;
            @include mobile {
                width: 17%;
            }
            @include mobile-landscape {
                width: 16%;
            }
            @include tablet {
                width: 25%;
            }
        }
    }
    .marker3 {
        top: 53%;
        left: 73%;
        @include mobile {
            top: 51%;
        }
        img {
            width: 19%;
            cursor: pointer;
        }
    }
    .marker4 {
        top: 40%;
        left: 84%;
        @include mobile {
            top: 38%;
        }
        img {
            width: 40%;
            cursor: pointer;
            @include mobile {
                width: 40%;
            }
        }
    }
    .marker5 {
        top: 58%;
        left: 66.7%;
        @include mobile {
            top: 56%;
        }
        img {
            width: 8.7%;
            cursor: pointer;
        }
    }
    .marker6 {
        top: 44.5%;
        left: 58%;
        @include mobile {
            top: 43%;
        }
        img {
            width: 35%;
            cursor: pointer;
            @include mobile {
                width: 11%;
            }
        }
    }
    .marker7 {}
    .marker8 {}
    .marker9 {
        top: 60%;
        left: 60.5%;
        img {
            width: 11%;
            cursor: pointer;
        }
    }
    .marker10 {
        top: 59.2%;
        left: 42.8%;
        @include mobile {
            top: 58.2%;
        }
        img {
            @include mobile {
                width: 10%;
            }
            width: 32%;
            cursor: pointer;
        }
    }
    .marker11 {
        top: 60%;
        left: 50.3%;
        @include mobile {
            top: 58%;
        }
        img {
            width: 6%;
            cursor: pointer;
            @include mobile {
                width: 5%;
            }
        }
    }
}


/* Sektor F End */


/* Sektor G */

#sektor-g {
    .marker0 {
        top: 62%;
        left: 36.8%;
        //mobile
        @include mobile {
            top: 60%;
        }
        @include mobile-landscape {
            top: 61.5%;
        }
        img {
            width: 6%;
            cursor: pointer;
            @include mobile {
                width: 3%;
            }
            @include mobile-landscape {
                width: 5%;
            }
        }
    }
    .marker1 {
        top: 65%;
        left: 36.8%;
        //mobile
        @include mobile {
            top: 63%;
        }
        img {
            width: 6%;
            cursor: pointer;
        }
    }
    .marker2 {
        top: 72%;
        left: 34.5%;
        img {
            width: 30%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 9%;
            }
            @include mobile-landscape {
                width: 16.5%;
            }
            @include tablet {
                width: 24%;
            }
        }
    }
    .marker3 {
        top: 87%;
        left: 25%;
        //mobile
        @include mobile {
            top: 85%;
        }
        img {
            width: 9%;
            cursor: pointer;
        }
    }
    .marker4 {
        top: 88%;
        left: 33.9%;
        @include mobile {
            top: 86%;
        }
        img {
            width: 9%;
            cursor: pointer;
            //mobile
            @include mobile {
                width: 7%;
            }
            @include mobile-landscape {
                width: 8%;
            }
            @include tablet {
                width: 8%;
            }
        }
    }
}


/* Sektor G End */


/* Sektor H */

#sektor-h {
    .marker1 {
        top: 67.5%;
        left: 43%;
        @include mobile {
            top: 65.5%;
        }
        img {
            width: 8%;
            cursor: pointer;
        }
    }
    .marker2 {
        top: 70.5%;
        left: 45%;
        @include mobile {
            top: 68.5%;
        }
        img {
            width: 23%;
            cursor: pointer;
            @include mobile {
                width: 10%;
            }
            @include mobile-landscape {
                width: 15%;
            }
        }
    }
    .marker3 {
        top: 73%;
        left: 42.5%;
        @include mobile {
            top: 71%;
        }
        img {
            width: 3%;
            cursor: pointer;
        }
    }
    .marker4 {
        top: 77%;
        left: 41.5%;
        img {
            width: 39%;
            cursor: pointer;
            @include mobile {
                width: 11%;
            }
            @include mobile-landscape {
                width: 21%;
            }
            @include tablet {
                width: 30%;
            }
        }
    }
    .marker5 {
        top: 78%;
        left: 47.5%;
        @include mobile {
            top: 73%;
            left: 47.2%;
        }
        @include mobile-landscape {
            top: 74.5%;
            left: 47.3%;
        }
        @include tablet {
            top: 74%;
        }
        img {
            width: 7%;
            cursor: pointer;
        }
    }
    .marker6 {
        top: 68.5%;
        left: 50.2%;
        @include mobile {
            top: 66%;
        }
        img {
            width: 5%;
            cursor: pointer;
        }
    }
    .marker7 {
        top: 61%;
        left: 53.5%;
        img {
            width: 36%;
            cursor: pointer;
            @include mobile {
                width: 15.5%;
            }
            @include mobile-landscape {
                width: 22.5%;
            }
            @include tablet {
                width: 30%;
            }
        }
    }
    .marker8 {
        top: 80%;
        left: 61%;
        @include mobile {
            top: 78%;
        }
        img {
            width: 9%;
            cursor: pointer;
        }
    }
    .marker9 {
        top: 60%;
        left: 60.5%;
        img {
            width: 11%;
            cursor: pointer;
        }
    }
    .marker10 {
        top: 70%;
        left: 61.7%;
        img {
            width: 9%;
            cursor: pointer;
        }
    }
}


/* Sektor H End */


/* Sektor I */

#sektor-i {
    .marker1 {
        top: 78%;
        left: 72%;
        @include mobile {
            top: 76%;
        }
        img {
            width: 26%;
            cursor: pointer;
        }
    }
}


/* Sektor I End */


/* Modal */

img.pin-modal {
    width: 10%;
}


/* Modal End */