<section style="margin-top: 100px" id="breadcrumb">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../../../index.html">Beranda</a>
                </li>
                <li class="breadcrumb-item"><a href="../../../../pilih_hari.html">Pilih Hari</a>
                </li>
                <li class="breadcrumb-item"><a href="../../pilih_fakultas.html">@@hari</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@@section</li>
            </ol>
        </nav>
    </div>
</section>