<header id="header" style="background: rgba(52, 59, 64, 0.9);">
    <div class="container">
        <div id="logo" class="pull-left">
            <!-- <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a> -->
             <h1><a href="index.html">PPSMB</a></h1>

        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="index.html">Beranda</a>
                </li>
                <li><a href="#about">Peta UGM</a>
                </li>
                <li class="menu-has-children"><a href="">Galeri</a>

                    <ul>
                        <li><a href="galeri/foto.html">Foto</a>
                        </li>
                        <li><a href="galeri/video.html">Video</a>
                        </li>
                    </ul>
                </li>
                <li><a href="faq.html">FAQ</a>
                </li>
            </ul>
        </nav>
    </div>
</header>