<section class="sec1">
    <div class="container">
        <div class="row slide1">
            <div class="col-md-3"> <a href="#">

                    <div class="cardq">
    <!-- <article> -->
    <img class="image_slider" src="public/img/ppsmb.png" alt="">
    <div class="slider_info">
         <h5 class="slider_title">Indonesia Ganti Presiden</h5>

        <p class="slider_p">Ini hoax</p>
        <p class="btn-get-started">Baca</p>
    </div>
    <!-- </article> -->
</div>

                </a>
            </div>
            <!--end col-md-3-->
            <div class="col-md-3"> <a href="#">

                    <div class="cardq">
    <!-- <article> -->
    <img class="image_slider" src="public/img/ppsmb.png" alt="">
    <div class="slider_info">
         <h5 class="slider_title">Indonesia Ganti Presiden</h5>

        <p class="slider_p">Ini hoax</p>
        <p class="btn-get-started">Baca</p>
    </div>
    <!-- </article> -->
</div>

                </a> 
            </div>
            <!--end col-md-3-->
            <div class="col-md-3"> <a href="#">

                    <div class="cardq">
    <!-- <article> -->
    <img class="image_slider" src="public/img/ppsmb.png" alt="">
    <div class="slider_info">
         <h5 class="slider_title">Indonesia Ganti Presiden</h5>

        <p class="slider_p">Ini hoax</p>
        <p class="btn-get-started">Baca</p>
    </div>
    <!-- </article> -->
</div>

                </a> 
            </div>
            <!--end col-md-3-->
            <div class="col-md-3"> <a href="#">

                    <div class="cardq">
    <!-- <article> -->
    <img class="image_slider" src="public/img/ppsmb.png" alt="">
    <div class="slider_info">
         <h5 class="slider_title">Indonesia Ganti Presiden</h5>

        <p class="slider_p">Ini hoax</p>
        <p class="btn-get-started">Baca</p>
    </div>
    <!-- </article> -->
</div>

                </a> 
            </div>
            <!--end col-md-3-->
            <div class="col-md-3"> <a href="#">

                    <div class="cardq">
    <!-- <article> -->
    <img class="image_slider" src="public/img/ppsmb.png" alt="">
    <div class="slider_info">
         <h5 class="slider_title">Indonesia Ganti Presiden</h5>

        <p class="slider_p">Ini hoax</p>
        <p class="btn-get-started">Baca</p>
    </div>
    <!-- </article> -->
</div>

                </a> 
            </div>
            <!--end col-md-3-->
            <div class="col-md-3"> <a href="#">

                    <div class="cardq">
    <!-- <article> -->
    <img class="image_slider" src="public/img/ppsmb.png" alt="">
    <div class="slider_info">
         <h5 class="slider_title">Indonesia Ganti Presiden</h5>

        <p class="slider_p">Ini hoax</p>
        <p class="btn-get-started">Baca</p>
    </div>
    <!-- </article> -->
</div>

                </a> 
            </div>
            <!--end col-md-3-->
            <div class="col-md-3"> <a href="#">

                    <div class="cardq">
    <!-- <article> -->
    <img class="image_slider" src="public/img/ppsmb.png" alt="">
    <div class="slider_info">
         <h5 class="slider_title">Indonesia Ganti Presiden</h5>

        <p class="slider_p">Ini hoax</p>
        <p class="btn-get-started">Baca</p>
    </div>
    <!-- </article> -->
</div>

                </a> 
            </div>
            <!--end col-md-3-->
        </div>
        <!-- end row-->
    </div>
    <!-- end container-->
</section>
<!-- section end----->