html,
body {
    background: linear-gradient(to bottom, rgba(231, 126, 97, 1), rgba(237, 164, 96, 1));
    background: -webkit-linear-gradient(to bottom, rgba(231, 126, 97, 1), rgba(237, 164, 96, 1));
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

#peta-ugm {
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    color: floralwhite;
    font-size: 40px;
    font-variant-numeric: 700;
    letter-spacing: 30px;
    word-spacing: 50%;
    margin-bottom: 50px;
}

#bg {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    position: relative;
}


/* popover */

.popover {
    border: none;
    padding: 0px;
    width: 200px;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.close {
    margin-top: 1%;
    margin-right: 4px;
}

.popover-title {
    background-color: #e16160;
    color: white;
}

.popover-content img {
    width: 100% !important;
    padding: 0 0 10px;
}

.markers {
    position: absolute;
}

.marker1 {
    top: 29%;
    left: 43.7%;
}

.marker1 img {
    width: 35%;
    cursor: pointer;
}

.marker2 {
    top: 28%;
    left: 53.3%;
}

.marker2 img {
    width: 35%;
    cursor: pointer;
}

.marker3 {
    top: 21%;
    left: 50%;
}

.marker3 img {
    width: 35%;
    cursor: pointer;
}

.marker4 {
    top: 21%;
    left: 57.5%;
}

.marker4 img {
    width: 35%;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    html,
    body {
        height: 100%;
    }
    .title {
        color: floralwhite;
        font-size: 40px;
        font-variant-numeric: 700;
        letter-spacing: 5px;
        word-spacing: 50%;
        margin-bottom: 50px;
    }
    .popover {
        width: 180px;
    }
    .popover-content {
        height: 150px;
        overflow-y: scroll;
    }
    .marker1 img {
        width: 13%;
    }
    .marker2 img {
        width: 11%;
    }
    .marker3 img {
        width: 15%;
    }
    .marker4 img {
        width: 16%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .marker1 img {
        width: 20%;
    }
    .marker2 img {
        width: 19%;
    }
    .marker3 img {
        width: 20%;
    }
    .marker4 img {
        width: 19%;
    }
}



