<div class="col-sm-12 col-lg-6 col-xl-4">
    <a href="@@link">
      <div class="cardz" style="max-width: 80%; height: auto; margin-left: auto; margin-right: auto; background-color: #343b40; margin-top: 25px; margin-bottom: 25px">
        <!-- <article> -->
          <img style="height: 400px; margin: auto 10px" class="video_thumbnail" src="../logo_fakultas/@@thumbnail" alt="">
          <div class="card__info">
            <h5 class="card__title">@@fakultas</h5>
          </div>
        <!-- </article> -->
      </div>
    </a>
</div>