<div class="cardz" style="margin: 25px 25px 60px 0; background-color: #343b40; width: 100%">
  <!-- <article> -->
    <img class="image_slider" src="public/img/ppsmb.png" alt="">
    <div class="card__info" style="background-image: @@gradient">
      <h5 class="card__title">@@title</h5>
      <p class="card__p">@@isi</p>
      <div class="row">
        <div class="col-6">
          <h4 class="card__title" style="margin: 0px" class="text">@@number</h4>
        </div>
        <div class="col-6">
          <p class="btn-get-started">Baca</p>
        </div>
      </div>
    </div>
  <!-- </article> -->
</div>
