<footer id="footer">
  <div class="container">
    <div class="row">
      <div style="margin-top: 20px" class="col-md-4">
        <h5><b>Sekretariat PPSMB UGM:</b></h5>
        Panitia Pusat PPSMB UGM 2019
        <br> Subdit. Pengembangan Karakter Mahasiswa
        <br> Direktorat Kemahasiswaan
        <br> Universitas Gadjah Mada
        <br> <a href="https://goo.gl/maps/db4RaashyoN2" target="_blank">
          Jl. Asem Kranji Blok K-8 Sekip, Bulaksumur, Sleman, Yogyakarta 55281 (PKM Center)
        </a>
        <br> Jam kerja pukul 08.00 - 16.00 WIB
        <div>
          <i class="far fa-envelope"></i> ppsmbugm@ugm.ac.id
        </div>
      </div>
      <div style="margin-top: 20px" class="col-md-5">
          <h5><b>Korespondensi/Alamat:</b></h5>
          Kasubdit. Pengembangan Karakter Mahasiswa,
          <br> Direktorat Kemahasiswaan Universitas Gadjah Mada
          <br> q.q. Ketua Pelaksana PPSMB UGM 2019
          <br> Jl. Asem Kranji Blok K-8 Sekip, Bulaksumur, Sleman, Yogyakarta. 55281
          <br> <br>
          <h5><b>Pusat Informasi:</b></h5>
          HELP DESK PPSMB : +62-822-8433-1119 (08.00 - 16.00 WIB)
      </div>
      <div style="margin-top: 20px" class="col-md-3">
          <h5><b>Akun Resmi PPSMB:</b></h5>
          <div class="col-md-12">
            <a href="https://facebook.com/PPSMB-Palapa-UGM-325374494259950/" target="_blank">
              <i class="fab fa-facebook-square"></i>  PPSMB UGM
            </a>
          </div>
          <div class="col-md-12">
            <a href="https://www.youtube.com/user/ppsmbpalapa" target="_blank">
              <i class="fab fa-youtube"></i> PPSMB UGM
            </a>
          </div>
          <div class="col-md-12">
            <a href="https://twitter.com/ppsmb_ugm" target="_blank">
              <i class="fab fa-twitter-square"></i>  @ppsmb_ugm
            </a>
          </div>
          <div class="col-md-12">
            <a href="https://www.instagram.com/ppsmb_ugm/" target="_blank">
              <i class="fab fa-instagram"></i>  @ppsmb_ugm
            </a>
          </div>
          <div class="col-md-12">
            <a href="https://ask.fm/ppsmb_ugm" target="_blank">
              <i class="fab fa-lastfm-square"></i>  @ppsmb_ugm
            </a>
          </div><div class="col-md-12">
            <a href="http://line.me/ti/p/~@ppsmb_ugm" target="_blank">
              <i class="fab fa-line"></i>  @ppsmb_ugm
            </a>
          </div>
      </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy;2019. Tim IT PPSMB UGM</p>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</footer>