<header id="dr-header">
    <div class="container">
  
      <div id="logo" class="pull-left">
        <!-- <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a> -->
        <h1><a href="#hero">PPSMB</a></h1>
      </div>
  
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Beranda</a></li>
          <li><a href="#about">Peta UGM</a></li>
          <li class="menu-has-children"><a href="">Galeri</a>
            <ul>
              <li><a href="#">Foto</a></li>
              <li><a href="#">Video</a></li>
            </ul>
          </li>
          <li><a href="#contact">FAQ</a></li>
        </ul>
      </nav>
    </div>
  </header>