<header id="header" class="header-state" style="background: rgba(52, 59, 64);">
  <div class="container">

    <div id="logo" class="pull-left">
      <a href="../../index.html"><img src="../../public/img/logo-navbar.png" alt="" title="" /></img></a>
      <!-- <h1><a href="index.html">PPSMB</a></h1> -->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="../../index.html"><b>Beranda</b></a></li>
        <li><a href="../../berita/info_6.html"><b>Cek Gugus</b></a></li>
        <li><a href="../../peta.html"><b>Peta UGM</b></a></li>
        <li class="menu-has-children"><a href=""><b>Galeri</b></a>
          <ul>
            <li><a href="../../galeri/foto.html"><b>Foto</b></a></li>
            <li><a href="../../galeri/video.html"><b>Video</b></a></li>
          </ul>
        </li>
        <li><a href="../../faq.html"><b>FAQ</b></a></li>
      </ul>
    </nav>
  </div>
</header>