<section class="sec1">
    <div class="container">
        <div class="row slide1">
            <div class="col-sm-12 col-sm-6 col-md-3">
                <a href="./berita/info_2.html">
                    <partial gradient="linear-gradient(to right top, #2A2A72, #009FFD);" src="card_slider.html" title="Ketentuan Kelulusan PPSMB UGM 2019" isi="26 Juni 2019 20:30" number="02"></partial>
                </a>
            </div>
            <div class="col-sm-12 col-sm-6 col-md-3">
                <a href="./berita/info_1.html">
                    <partial gradient="linear-gradient(to right top,#11998e, #38ef7d);" src="card_slider.html" title="Mekanisme Perizinan PPSMB UGM 2019" isi="24 Juni 2019 21:26" number="01"></partial>
                </a>
            </div>
            <div class="col-sm-12 col-sm-6 col-md-3">
                <a href="./berita/info_2.html">
                    <partial gradient="linear-gradient(to right top, #2A2A72, #009FFD);" src="card_slider.html" title="Ketentuan Kelulusan PPSMB UGM 2019" isi="26 Juni 2019 20:30" number="02"></partial>
                </a>
            </div>
            <div class="col-sm-12 col-sm-6 col-md-3">
                <a href="./berita/info_1.html">
                    <partial gradient="linear-gradient(to right top,#11998e, #38ef7d);" src="card_slider.html" title="Mekanisme Perizinan PPSMB UGM 2019" isi="24 Juni 2019 21:26" number="01"></partial>
                </a>
            </div>
        </div>
    </div>
</section>