<section class="sec1">
    <div class="container">
        <div class="row slide1" style="margin: auto;">
                <div class="col-sm-12 col-sm-6 col-md-3"> <a href="./berita/info_4.html">

                    <div class="cardz" style="margin: 25px 25px 60px 0; background-color: #343b40; width: 100%">
                        <!-- <article> -->
                        <img class="image_slider" src="public/img/ppsmb.png" alt="">
                        <div class="card_slider"
                            style="background-image: linear-gradient(to right top, #f12711, #f5af19);">
                            <h5 class="card__title" style="font-size:15.5px">Pengarahan Kegiatan <i>Action Plan</i> dan Upacara Penutupan PPSMB UGM 2019</h5>

                            <p class="card__p">04 Juli 2019 17:46</p>
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="card__title" style="margin: 0px" class="text">04</h4>

                                </div>
                                <div class="col-6">
                                    <p class="btn-get-started">Baca</p>
                                </div>
                            </div>
                        </div>
                        <!-- </article> -->
                    </div>

                </a>
            </div>
            <div class="col-sm-12 col-sm-6 col-md-3"> <a href="./berita/info_3.html">

                    <div class="cardz" style="margin: 25px 25px 60px 0; background-color: #343b40; width: 100%">
                        <!-- <article> -->
                        <img class="image_slider" src="public/img/ppsmb.png" alt="">
                        <div class="card_slider"
                            style="background-image: linear-gradient(to right top, #4A00E0, #8E2DE2);">
                            <h5 class="card__title" style="font-size:15.4px">Ketentuan Keikutsertaan Mahasiswa Dalam PPSMB UGM 2019</h5>

                            <p class="card__p">03 Juli 2019 12:03</p>
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="card__title" style="margin: 0px" class="text">03</h4>

                                </div>
                                <div class="col-6">
                                    <p class="btn-get-started">Baca</p>
                                </div>
                            </div>
                        </div>
                        <!-- </article> -->
                    </div>

                </a>
            </div>
            <div class="col-sm-12 col-sm-6 col-md-3"> <a href="./berita/info_2.html">

                    <div class="cardz" style="margin: 25px 25px 60px 0; background-color: #343b40; width: 100%">
                        <!-- <article> -->
                        <img class="image_slider" src="public/img/ppsmb.png" alt="">
                        <div class="card_slider"
                            style="background-image: linear-gradient(to right top, #2A2A72, #009FFD);">
                            <h5 class="card__title">Ketentuan Kelulusan PPSMB UGM 2019</h5>

                            <p class="card__p">26 Juni 2019 20:30</p>
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="card__title" style="margin: 0px" class="text">02</h4>

                                </div>
                                <div class="col-6">
                                    <p class="btn-get-started">Baca</p>
                                </div>
                            </div>
                        </div>
                        <!-- </article> -->
                    </div>

                </a>
            </div>
            <div class="col-sm-12 col-sm-6 col-md-3"> <a href="./berita/info_1.html">

                    <div class="cardz" style="margin: 25px 25px 60px 0; background-color: #343b40; width: 100%">
                        <!-- <article> -->
                        <img class="image_slider" src="public/img/ppsmb.png" alt="">
                        <div class="card_slider"
                            style="background-image: linear-gradient(to right top,#11998e, #38ef7d);">
                            <h5 class="card__title">Mekanisme Perizinan PPSMB UGM 2019</h5>

                            <p class="card__p">24 Juni 2019 21:26</p>
                            <div class="row">
                                <div class="col-6">
                                    <h4 class="card__title" style="margin: 0px" class="text">01</h4>

                                </div>
                                <div class="col-6">
                                    <p class="btn-get-started">Baca</p>
                                </div>
                            </div>
                        </div>
                        <!-- </article> -->
                    </div>

                </a>
            </div>
        </div>
    </div>
</section>