.blacked {
  width: 100%;
  height: auto;
  padding: 60px 0;
  background: url("img/hero-bg.jpg") top center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.unduh {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #2dc997;
  color: #2dc997;
}

.unduh:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
  color: white;
}


@media (max-width: 1024px) {
  .img-fluid {
    width: 100vh;
    height: auto;
  }
}

#error {
  background: url("img/hero-bg.jpg");
  background-size: cover;
  height: 100vh;
}

@media (max-width: 992px) {
  #error {
    background: #1c1c1c;
  }
}

.img-tentang {
  max-width: 100%;
  height: auto;
  padding: 64px;
}

.div-mid {
  top: 50%;
}

@media (max-width: 768px) {
  .img-tentang {
    padding: 32px;
  }
}

.white {
  color: white;
}

.h1-error {
  font-size: 70px;
}

.h2-error {
  font-size: 60px;
}

.p-error {
  font-size: 32px;
}

.btn-error-color {
  background: linear-gradient(to right top, #11998e, #38ef7d);
  border: 2px solid #262626 !important;
  color: white !important;
  float: left !important;
  transition: 1s !important;
}

.btn-error-color:hover {
  background: #1AAE8A !important;
  border: 2px solid #1AAE8A !important;
}

@media (max-width: 768px) {
  .h1-error {
    font-size: 40px;
    text-align: center;
  }

  .h2-error {
    font-size: 30px;
    text-align: center;
  }

  .p-error {
    font-size: 22px;
    text-align: center;
  }

  .btn-error-color {
    display: flex !important;
    justify-content: center !important;
    width: 100%;
  }
}

.error-color {
  background: linear-gradient(to right top, #11998e, #38ef7d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#11998e", endColorstr="#38ef7d", GradientType=1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#slider {
  padding: 60px 0;
}

#rektor {
  padding: 60px 0;
}

#video {
  padding: 60px 0;
}

#tasks {
  padding: 60px 0;
}

#faq {
  padding-bottom: 60px;
}