/* gedein kopma */
#sektor-h .marker3 {
  top: 73%;
  left: 42%;
}
@media (max-width: 480px) {
  /* line 841, ../sass/style.scss */
  #sektor-h .marker3 {
    top: 71%;
  }
}
/* line 847, ../sass/style.scss */
#sektor-h .marker3 img {
  width: 5%;
  cursor: pointer;
}

/*perumahan dosen dibuat keatasan & agak di adjust ukuranya*/
#sektor-h .marker7 {
  top: 61.2%;
  left: 53.7%;
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* line 902, ../sass/style.scss */
  #sektor-h .marker7 img {
    width: 24%;
  }
}

/*gmc diturunin*/
#sektor-g .marker1 {
  top: 68%;
  left: 36.8%;
}
/*vokasi diturunin*/
#sektor-g .marker2 {
  top: 71%;
  left: 33.3%;
}
#sektor-g .marker2 img {
  width: 36%;
  cursor: pointer;
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 902, ../sass/style.scss */
  #sektor-g .marker2 img {
    width: 30%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 795, ../sass/style.scss */
  #sektor-g .marker2 img {
    width: 23%;
  }
}
@media (max-width: 480px) {
  /* line 830, ../sass/style.scss */
  #sektor-g .marker2 {
    width: 15%;
    top: 71.5%;
  }

/*ubah gelanggang*/
#sektor-h .marker2 {
  top: 70.5%;
  left: 45%;
}
#sektor-h .marker2 img {
  width: 32%;
  cursor: pointer;
}/*

@media (min-width: 769px) and (max-width: 1024px) {
  #sektor-h .marker2 img {
    width: 24%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #sektor-h .marker2 img {
    width: 18%;
  }
}
@media (max-width: 480px) {
  #sektor-h .marker2 {
    width: 10%;
    top: 69%;
  }
    }*/
    
#sektor-a .marker1a {
  top: 9%;
  left: 19%;
}
@media (max-width: 480px) {
  /* line 143, ../sass/style.scss */
  #sektor-a .marker1a {
    top: 8%;
  }
}
/* line 149, ../sass/style.scss */
#sektor-a .marker1a img {
  width: 34%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 149, ../sass/style.scss */
  #sektor-a .marker1a img {
    width: 26%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 149, ../sass/style.scss */
  #sektor-a .marker1a img {
    width: 26%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* line 149, ../sass/style.scss */
  #sektor-a .marker1a img {
    width: 27%;
  }
}
}